title{
	display: block;
}
body{
	background-color: black;
	font-family: 'Open Sans', sans-serif;
}
h1{
	color: white;
}
h2
{
	color: red;
}
p{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: dimgray;
	font-size: medium;    
}
div{
	margin-top: 0em;
}
button{
	border:0;
	margin: 2%;
    background-color: deeppink;
    color: aliceblue;
}

h3{
    color: dimgrey;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: medium;
}
nav{
    font-size: small;
    display: flex;
    justify-content: space-between;
	max-width: 50%;
	

    
}
